input[type=text]{
	font-family: 'Acme';
    font-size: 150%;
}
input[type=number]{
	font-family: 'Acme';
    font-size: 150%;
    width: 100px;
}

.embededObjectSection{
    background-color: black;
}

.singleEditRowForSession{
    margin: 5px;
}

.data_single_label{
	font-size: 120%;
}

.single_data_div{
	margin: 10px;
}

#addSessionButton{
	top: 5px;
    position: relative;
}

#session_data_collector_area{
    max-height: 0;
	padding: 0;
	transition: max-height 0.25s ease-in;
}

.floating_action_button{
	background-color: #00bb00;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #00bb00;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 150%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: .3s;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	transition: background-color 0.5s ease;
	
}
.floating_action_button:focus {
	transform:scale(1.0);
	background-color: #FF4336;
  }

.RPG_data_collector_area {
	background-color: rgba(0,0,0,0.3);
    padding: 10px;
    color: white;
}

#session_list_area span{
	background-color: yellow;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

#session_list_area a{
	text-decoration: underline;
	cursor: default;
    color: blue;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 90%;
}

#session_list_area a:active{
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 90%;
}

.successButton{
	background-color: #00bb00; 	
	color: white;
    font-size: 150%;
    border: 2px solid white;
    border-radius: 5px;
    margin: 10px;
    font-family: 'Acme', sans-serif;
}

.section_title{
	background-color: #555;
    color: white;
	padding: 10px;
	margin-bottom: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* Set height of body and the document to 100% */
body, html {
	height: 100%;
	margin: 0;
    font-family: 'Acme', sans-serif;	
}

/* Style tab links */
.tablink {
	font-family: 'Acme', sans-serif;
	background-color: #555;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 25%;
}

.tablink:hover {
	background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
	color: #000;
	display: none;
	padding: 20px 20px;
	height: auto;
}

#Campaign {background-color: #bbb;}

#Sessions {background-color: #bbb;}

#Characters {background-color: #bbb;}
