.data_single_label{
	font-size: 120%;
}

.single_data_div{
	margin: 10px;
}

.RPG_data_collector_area {
	background-color: rgba(0,0,0,0.3);
    padding: 10px;
    color: white;
}

.successButton{
	background-color: #00bb00; 	
	color: white;
    font-size: 150%;
    border: 2px solid white;
    border-radius: 5px;
    margin: 10px;
    font-family: 'Acme', sans-serif;
}

.section_title{
	background-color: #555;
    color: white;
	padding: 10px;
	margin-bottom: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* Set height of body and the document to 100% */
body, html {
	height: 100%;
	margin: 0;
    font-family: 'Acme', sans-serif;	
}

/* Style tab links */
.tablink {
	font-family: 'Acme', sans-serif;
	background-color: #555;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 25%;
}

.tablink:hover {
	background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
	color: #000;
	display: none;
	padding: 20px 20px;
	height: 100%;
}

#Campaign {background-color: #bbb;}

#Sessions {background-color: #bbb;}

#Characters {background-color: #bbb;}
